body {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
h1,
p {
  text-align: center;
}
footer {
  text-align: center;
  color: purple;
}
footer a {
  margin: 0 15px;
}
.croissant-photo {
  max-width: 80%;
  border-radius: 10px;
  display: block;
  margin: 40px auto;
}
